<html>
<head>
     <meta charset="UTF-8">
    <title> Home </title>
    <link rel="stylesheet" href="../static/homestyle.css">      
</head>
<body>
    <div class="hero">
        <nav>
            <img src="https://i.postimg.cc/DydN4snm/menu.png" alt="" class="menu-img">
            <ul>
                <li style = "color : black; font-weight : bold"><a href="https://i.postimg.cc/bwjWkb21/Screenshot-2022-03-12-105249.jpg">Demo Report</a></li>
		<li style = "color : black; font-weight : bold"> | </li>
                <li style = "color : black; font-weight : bold" ><a href="/faq">FAQ</a></li>
            </ul>
        </nav>

        <div class="text-container">
            <h1 style = "color : black; font-weight : bold">LAB REPORT <br> ANALYZER</h1>
            <p style = "color : black ; font-weight : bold">Now you can directly analyze your report. Our Analyzer is upto 95% accurate, it is based on machine learning algorithm which analyses your report with good accuracy.</p>
            <a href="/formpage">Analyse your Report</a>
        </div>
    </div>
</body>
</html>